@model IEnumerable<ManageDos.Models.ToDoList>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListDescription)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Index","ToDoItems", new { ListId = item.ID})">
                @Html.DisplayFor(modelItem => item.Title)</a>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListDescription)
            </td> 
           
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
